<h1><%= @place.name %></h1>

<div class="row">
  <% for place.post in @place.posts %>
    <div class="col-3">
      <h4><%= post.title %></h4>
      <p><%= post.description %></p>
    </div>
  <% end %>
</div>

<p><a href="/posts/new">Create a new post</a></p>